/* src/components/Sidebar.css */
.video-sidebar {
  width: 300px;
  background-color: #f3f3f3;
  /* padding: 20px; */
}

.video-sidebar h3 {
  font-size: 2.5em;
  margin-bottom: 15px;
  /* padding-top: 5px; */
}
.video-sidebar-heading {
  padding-top: 20px;
  border-bottom: 2px solid black;
  text-align: center;
  /* vertical-align: text-bottom; */
}

.video-sidebar ul {
  list-style-type: none;
  margin: 10px 0px 10px 10px;
  font-size: 1.5rem;
}

.video-sidebar ul li {
  border-bottom: 1px solid black;
  margin: 10px 0;
}
.video-sidebar button {
  text-decoration: none;
  color: black;
  border: 0;
}
.video-sidebar button:hover {
  color: grey;
}
.video-sidebar ol li {
  margin-left: 20px;
  border: 0;
  list-style-type: disc;
}
