.header-video {
  height: 100px;
  background-image: url(../img/hero/hero2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* background-color: black; */
}
.main-container {
  display: flex;
}

.video-content {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 2px solid grey;
}
.video-heading {
  color: black;
  opacity: 0.7;
  font-size: 30px;
  font-weight: 600;
  margin-left: 25px;
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 20px;
}
.video-player {
  background-color: black;
  /* color: white; */
  width: 95%;
  height: 630px;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  /* margin-bottom: 100px; */
  padding-bottom: 10px;
  /* margin-top: 50px; */
}
.video-player video {
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding-bottom: 10px;
}
.video-player p {
  color: white;
}

.course-details {
  margin-top: 20px;
  margin-left: 25px;
}
.controls-section {
  display: flex;
  padding-top: 10px;
  margin-top: 40px;
  margin-left: 25px;
}
.content-section {
  margin-left: 25px;
}
.transcribed {
  width: 95%;
  margin-top: 20px;
  font-size: 1.5rem;
  box-shadow: grey;
  opacity: 0.9;
  /* border: 1px solid grey; */
}
.translate {
  margin-top: 20px;
  font-size: 1.5rem;
  box-shadow: grey;
  /* border: 1px solid grey; */
}
